<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoWeb" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python35\python.exe|C:\inetpub\wwwroot\ouc\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
